footer {
    display: flex;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    padding-left: var(--space-m);
    padding-right: var(--space-m);
    justify-content: space-between;
    align-items: center;
    background: var(--background-secondary);
    color: var(--primary)
}

.copyright-group p h2 {
    color: var(--secondary)
}

.web-logos a {
    margin-right: 1rem;
}

.faIcon {
    width: clamp(20px,2vw,30px);
    height: auto;
    color: var(--secondary);
}

.faIcon:hover{
    color: var(--primary);
}

.copyright-group {
    margin-left: var(--space-m);
}

@media (max-width: 410px) {
    .web-logo > p {
        display: none;
    }

    .faIcon {
        width: 15px;
    }
}