.main-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.image-container {
    width: 100%;
    height: clamp(300px,70vw,500px);
    overflow: hidden;
}

.image-buttons-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.image-button {
    flex: 1;
    background-color: #353442;

    box-shadow: inset 2px 2px 30px rgba(148, 134, 91, 0.5), 
                inset -5px -5px 50px rgba(41, 45, 38, 0.2);
    border: none;
    outline: none;
    cursor: pointer;
}

.image-button:hover {
    background-color: #24232d;
}

.image-button img {
    width: clamp(30px,10vw,150px);
    height: auto;
}